:root {
  --theme-color-name: #e65da9;
  --c-primary: rgb(var(--rgb-primary));
  --c-primary-active: #cb4391;
  --c-primary-light: #e65da980,
  --c-primary-fade: #e158a41a;
  --rgb-primary: 230, 93, 169;
  --c-dark-primary: rgb(var(--rgb-dark-primary));
  --c-dark-primary-active: #d14896;
  --c-dark-primary-light: #eb62ae80;
  --c-dark-primary-fade: #e65da91a;
  --rgb-dark-primary: 230, 93, 169;
}
